.Checkout{
    padding: 10px 10px;
    top: 0;
    right: -100px;
    position: absolute;
    background-color: white;
    height: 100vh;
    z-index: 11;
    width: 30vw;
}
.nom{
    display: none;
}
.cross{
    width: 350px;
    display: flex;
    justify-content: right;
}
#Kross{
    background-color: rgb(156, 156, 244)
}
@media only screen and (max-width: 600px){
    .Checkout{
        width: 50vh;
    }
}